@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Playball);
* { margin:0; padding:0; box-sizing:border-box; }

header {
	text-align: center;
}

body {
	background: url("https://learnvest.global.ssl.fastly.net/wp-content/uploads/2014/07/NYC-budget.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: #000;
	font-family: 'Source Sans Pro', arial, sans-serif;
	font-weight: 400;
	font-size: 1.5em;
}

span { 
	font-family: 'Playball', cursive;
	font-size: 1.7px;
	padding: 13px 13px;
}

nav {
	text-align: center;
}

nav a { 
	padding: 0px 20px;
	color: #000;
	text-decoration: none;
}

a:hover {
	background-color: #aaa;
}

.wrapper {
	padding-left: 20px;
}

h3 {
	font-family: 'Playball', cursive;
	font-size: 1.7em;
}

#about {
	width: 680px;
    padding: 25px 20px;
}

#projects {
	width: 680px;
	padding: 25px 0px;
}
footer {
	font-style: italic;
	text-align: center;
	padding: 175px 0px 50px 0px;
	color: #fff;
}