@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Playball);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	text-align: center;
	background: url("../images/manhattanskyline.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: #000;
	font-family: 'Source Sans Pro', arial, sans-serif;
	font-weight: 400;
	font-size: 20px;
}
h3 { 
	font-family: 'Playball', cursive;
}
footer {
	font-style: italic;
	padding: 1em 0;
}
