body {
  text-align: center;
  background: url("https://learnvest.global.ssl.fastly.net/wp-content/uploads/2014/07/NYC-budget.jpg");
  background-size: 1300px 800px;
  color: #000;
  font-family: 'Source Sans ', Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
}